<div class="user-management-detail card">
    <skis-page-header [headerLabel]="'User ' + user.login"></skis-page-header>

    <div class="card-body">

        <form *ngIf="user" class="form" novalidate>

            <!-- Activation -->
            <div class="form-group">
                <skis-boolean-field [value]="user.activated" textTrue="Activated"
                                    textFalse="Deactivated"></skis-boolean-field>
            </div>

            <!-- Roles -->
            <div class="form-group">
                <label>Roles</label>
                <div>
                    <span *ngFor="let role of user.authorities" class="badge badge-info ml-1">{{role}}</span>
                </div>
            </div>

            <!-- Login -->
            <div class="form-group">
                <label for="loginInput">Login</label>
                <input id="loginInput" class="form-control" type="text" value="{{user.login}}" readonly>
            </div>

            <!-- Email -->
            <div class="form-group">
                <label for="emailInput">Email</label>
                <input id="emailInput" class="form-control" type="text" value="{{user.email}}" readonly>
            </div>

            <div class="form-row">

                <!-- First Name -->
                <div class="form-group col-md-6">
                    <label for="firstNameInput">First Name</label>
                    <input id="firstNameInput" class="form-control" type="text" value="{{user.firstName}}" readonly>
                </div>

                <!-- Last Name -->
                <div class="form-group col-md-6">
                    <label for="lastNameInput">Last Name</label>
                    <input id="lastNameInput" class="form-control" type="text" value="{{user.lastName}}" readonly>
                </div>
            </div>

            <div class="form-row">

                <!-- Created by -->
                <div class="form-group col-md-6">
                    <label for="createdByInput">Created by</label>
                    <input id="createdByInput" class="form-control" type="text" value="{{user.createdBy}}" readonly>
                </div>

                <!-- Creation date -->
                <div class="form-group col-md-6">
                    <label for="creationInput">Creation date</label>
                    <input id="creationInput" class="form-control" type="text"
                           value="{{user.createdDate | date:'dd/MM/yyyy HH:mm'}}" readonly>
                </div>
            </div>
        </form>
    </div>
</div>
