<div class="page-card card">

    <skis-page-header headerLabel="Users">
        <button class="btn btn-primary" [routerLink]="['./new']">
            <span>New User</span>
        </button>
    </skis-page-header>

    <div class="card-body">
        <skis-alert></skis-alert>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr skisSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th scope="col" skisSortBy="id"><span>ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" skisSortBy="login"><span>Login</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" skisSortBy="email"><span>Email</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col"></th>
                    <th scope="col"><span>Profiles</span></th>
                    <th scope="col" skisSortBy="createdDate"><span>Creation</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" skisSortBy="lastModifiedBy"><span>Last modifier</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" skisSortBy="lastModifiedDate"><span>Last Modification</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody *ngIf="users">
                <tr *ngFor="let user of users; trackBy: trackIdentity">
                    <td><a [routerLink]="['./', user.login, 'view']">{{user.id}}</a></td>
                    <td>{{user.login}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <button class="btn btn-danger btn-sm" (click)="setActive(user, true)" *ngIf="!user.activated"
                        >Deactivated
                        </button>
                        <button class="btn btn-success btn-sm" (click)="setActive(user, false)" *ngIf="user.activated"
                                [disabled]="currentAccount.login === user.login">Activated
                        </button>
                    </td>

                    <td>
                        <div *ngFor="let authority of user.authorities">
                            <span class="badge badge-info">{{ authority }}</span>
                        </div>
                    </td>
                    <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                    <td>{{user.lastModifiedBy}}</td>
                    <td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
                    <td>
                        <button
                                class="btn btn-link"
                                type="submit"
                                [routerLink]="['./', user.login, 'edit']"
                                queryParamsHandling="merge">
                            Edit
                        </button>
                    </td>
                    <td>
                        <button
                                class="btn btn-link"
                                type="button"
                                [disabled]="currentAccount.login === user.login"
                                (click)="deleteUser(user)">
                            Delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer">
        <div *ngIf="users">
            <div class="row justify-content-center">
                <skis-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></skis-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                                [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
    </div>

</div>
