<div class="account-panel card" [ngSwitch]="isAuthenticated()">

    <div class="card-body">

        <!--Login button-->
        <button *ngSwitchCase="false" type="button" class="btn-login btn btn-primary btn-sm"
                (click)="login()">
            <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
            <span jhiTranslate="worldmap.controlPanel.account.login">Log in</span>
        </button>

        <div *ngSwitchCase="true">

            <!--Admin account icon-->
            <fa-icon *ngIf="this.isAdmin()" [icon]="['fas', 'user-cog']" align=""></fa-icon>

            <!--Contributor account icon-->
            <fa-icon *ngIf="!this.isAdmin() && this.isContributor()" [icon]="['fas', 'user-edit']"></fa-icon>

            <!--User login text-->
            <span class="account-user-name card-text">{{this.account.login}}</span>

            <!--Logout button-->
            <button type="button" class="btn-logout btn btn-primary btn-sm" (click)="logout()"
                    title="{{'worldmap.controlPanel.account.logout' | translate}}">
                <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
            </button>

            <div>

                <!--Edit connected user password button-->
                <button *ngSwitchCase="true" type="button" class="btn btn-link" routerLink="user/settings">
                    <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                    <span jhiTranslate="worldmap.controlPanel.account.settings"></span>
                </button>

            </div>

        </div>
    </div>
</div>
