<div class="page-card card settings">

    <skis-page-header headerLabel="Settings"></skis-page-header>

    <div class="card-body">

        <div class="alert alert-success" *ngIf="success">
            <strong>{{success}}</strong>
        </div>

        <div class="alert alert-danger" *ngIf="error">
            <strong>{{error}}</strong>
        </div>

        <div class="alert alert-danger" *ngIf="doesNotMatchPassword">
          {{doesNotMatchPassword}}
        </div>

        <skis-alert-error></skis-alert-error>


        <div class="card-columns">

            <div class="card h-100">

                <div class="card-header">
                    <h5>General information</h5>
                </div>

                <div class="card-body">

                    <!--General information form-->
                    <form name="form" role="form" (ngSubmit)="save()" [formGroup]="settingsForm"
                          *ngIf="settingsForm.get('login').value" novalidate>

                        <!--First name-->
                        <div class="form-group">
                            <label class="form-control-label" for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName"
                                   placeholder="Your first name"
                                   formControlName="firstName">
                            <div
                                *ngIf="settingsForm.get('firstName').invalid && (settingsForm.get('firstName').dirty || settingsForm.get('firstName').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="settingsForm.get('firstName').errors.required">
                                    Your first name is required.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="settingsForm.get('firstName').errors.minlength">
                                    Your first name is required to be at least 1 character.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="settingsForm.get('firstName').errors.maxlength">
                                    Your first name cannot be longer than 50 characters.
                                </small>
                            </div>
                        </div>

                        <!--Last name-->
                        <div class="form-group">
                            <label class="form-control-label" for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName"
                                   placeholder="Your last name"
                                   formControlName="lastName">
                            <div
                                *ngIf="settingsForm.get('lastName').invalid && (settingsForm.get('lastName').dirty || settingsForm.get('lastName').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="settingsForm.get('lastName').errors.required">
                                    Your last name is required.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="settingsForm.get('lastName').errors.minlength">
                                    Your last name is required to be at least 1 character.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="settingsForm.get('lastName').errors.maxlength">
                                    Your last name cannot be longer than 50 characters.
                                </small>
                            </div>
                        </div>

                        <!--Email-->
                        <div class="form-group">
                            <label class="form-control-label" for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email"
                                   placeholder="Your email"
                                   formControlName="email">
                            <div
                                *ngIf="settingsForm.get('email').invalid && (settingsForm.get('email').dirty || settingsForm.get('email').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="settingsForm.get('email').errors.required">
                                    Your email is required.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="settingsForm.get('email').errors.email">
                                    Your email is invalid.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="settingsForm.get('email').errors.minlength">
                                    Your email is required to be at least 5 characters.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="settingsForm.get('email').errors.maxlength">
                                    Your email cannot be longer than 100 characters.
                                </small>
                            </div>
                        </div>

                        <button type="submit" [disabled]="settingsForm.invalid" class="btn btn-primary">Save
                        </button>
                    </form>
                </div>
            </div>

            <div class="card h-100">

                <div class="card-header">
                    <h5>Password</h5>
                </div>

                <div class="card-body">

                    <!--Password form-->
                    <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">

                        <!--Current password-->
                        <div class="form-group">
                            <label class="form-control-label" for="currentPassword">Current password</label>
                            <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                                   placeholder="Current password"
                                   formControlName="currentPassword">
                            <div
                                *ngIf="passwordForm.get('currentPassword').invalid && (passwordForm.get('currentPassword').dirty || passwordForm.get('currentPassword').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="passwordForm.get('currentPassword').errors.required">
                                    Your password is required.
                                </small>
                            </div>
                        </div>

                        <!--New password-->
                        <div class="form-group">
                            <label class="form-control-label" for="newPassword">New password</label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword"
                                   placeholder="New password"
                                   formControlName="newPassword">
                            <div
                                *ngIf="passwordForm.get('newPassword').invalid && (passwordForm.get('newPassword').dirty || passwordForm.get('newPassword').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="passwordForm.get('newPassword').errors.required">
                                    Your password is required.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="passwordForm.get('newPassword').errors.minlength">
                                    Your password is required to be at least 4 characters.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="passwordForm.get('newPassword').errors.maxlength">
                                    Your password cannot be longer than 50 characters.
                                </small>
                            </div>
                            <skis-password-strength-bar
                                [passwordToCheck]="passwordForm.get('newPassword').value"></skis-password-strength-bar>
                        </div>

                        <!--New password confirmation-->
                        <div class="form-group">
                            <label class="form-control-label" for="confirmPassword">New password
                                confirmation</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                   placeholder="Confirm new password"
                                   formControlName="confirmPassword">
                            <div
                                *ngIf="passwordForm.get('confirmPassword').invalid && (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="passwordForm.get('confirmPassword').errors.required">
                                    Your confirmation password is required.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="passwordForm.get('confirmPassword').errors.minlength">
                                    Your confirmation password is required to be at least 4 characters.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="passwordForm.get('confirmPassword').errors.maxlength">
                                    Your confirmation password cannot be longer than 50 characters.
                                </small>
                            </div>
                        </div>

                        <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">Save
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
