/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ
.idea
.run
*.iws
*.iml
*.ipr


## front ##

# Compiled output
/front/dist
/front/tmp
/front/out-tsc
/front/bazel-out

# Node
/front/node/
/front/node_modules/
/front/npm-debug.log

# Miscellaneous
/front/.angular/cache
/front/connect.lock
/front/coverage
/front/libpeerconnection.log
/front/testem.log
/front/typings
