<div class="my-news-facts card">

    <div class="card-header">
        <h2>
            <span id="my-news-facts-page-heading" jhiTranslate="myNewsFacts.list.title">My publications</span>
        </h2>
        <div class="btn-group float-right">
            <button class="btn btn-primary" type="submit" routerLink="/">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="global.backToMap">Back to map</span>
            </button>
            <button class="btn btn-primary float-right jh-create-entity ml-2" [routerLink]="['./new']">
                <fa-icon [icon]="'plus'"></fa-icon> <span jhiTranslate="myNewsFacts.list.createLabel">
                    Create a new User
                </span>
            </button>
        </div>
    </div>

    <div class="card-body">
        <skis-alert></skis-alert>
        <div class="table-responsive">
            <table class="table table-striped" aria-describedby="my-news-facts-page-heading">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th scope="col"><span jhiTranslate="myNewsFacts.locationCoordinate">Geo. Coord.</span></th>
                    <th scope="col" jhiSortBy="eventDate"><span jhiTranslate="myNewsFacts.eventDate">Event Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th scope="col" jhiSortBy="createdDate"><span jhiTranslate="myNewsFacts.createdDate">Creation Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th scope="col" jhiSortBy="newsCategoryLabel"><span jhiTranslate="myNewsFacts.category">Category</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th scope="col" jhiSortBy="country"><span jhiTranslate="myNewsFacts.country">Country</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th scope="col" jhiSortBy="city"><span jhiTranslate="myNewsFacts.city">City</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th scope="col" jhiSortBy="address"><span jhiTranslate="myNewsFacts.address">Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                </tr>
                </thead>
                <tbody *ngIf="myNewsFacts">
                <tr *ngFor="let newsFact of myNewsFacts; trackBy: trackIdentity">
                    <td>{{newsFact.id}}</td>
                    <td>{{formatLocationCoordinate(newsFact.locationCoordinate)}}</td>
                    <td>{{newsFact.eventDate | date:'dd/MM/yyyy HH:mm'}}</td>
                    <td>{{newsFact.createdDate | date:'dd/MM/yyyy HH:mm'}}</td>
                    <td>{{newsFact.newsCategoryLabel}}</td>
                    <td>{{newsFact.country}}</td>
                    <td>{{newsFact.city}}</td>
                    <td>{{newsFact.address}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer">
        <div *ngIf="myNewsFacts">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                                [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
    </div>

</div>
