<div class="my-news-fact-edition card">

    <div class="card-header">
        <h2>
            <span jhiTranslate="myNewsFacts.creation.title">New Publication</span>
        </h2>
        <div class="btn-group float-right">
            <button class="btn btn-primary" type="submit" routerLink="/">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="global.backToMap">Back to map</span>
            </button>
        </div>
    </div>

    <div class="card-body">

        <form class="form" name="editForm" role="form" novalidate (ngSubmit)="publish()" [formGroup]="editionForm">

            <skis-alert-error></skis-alert-error>

            <!-- News fact Id (hidden and not null when updating existing news fact) -->
            <div class="form-group" [hidden]="!newsFact.id">
                <label jhiTranslate="global.field.id">Id</label>
                <input type="text" class="form-control" readonly
                       name="id"
                       formControlName="id">
            </div>

            <!-- News category -->
            <div class="form-group">
                <label for="newsCategorySelect" jhiTranslate="myNewsFacts.newsCategory">Category</label>
                <select class="form-control" id="newsCategorySelect"
                        name="newsCategoryId"
                        formControlName="newsCategoryId">
                    <option *ngFor="let newsCategory of this.newsCategories" ngValue="{{newsCategory.id}}">
                        {{newsCategory.label}}
                    </option>
                </select>

                <div *ngIf="editionForm.get('newsCategoryId').invalid && (editionForm.get('newsCategoryId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editionForm.get('newsCategoryId').errors.required"
                           jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <!-- Event date -->
            <div class="form-group">
                <label for="eventDateInput" jhiTranslate="myNewsFacts.eventDate">Event date</label>
                <div class="input-group">
                    <input class="form-control" id="eventDateInput" placeholder="yyyy-mm-dd"
                           ngbDatepicker #d="ngbDatepicker"
                           name="eventDate"
                           formControlName="eventDate">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                            <fa-icon [icon]="['fas', 'calendar']"></fa-icon>
                        </button>
                    </div>
                </div>

                <div
                    *ngIf="editionForm.get('eventDate').invalid && (editionForm.get('eventDate').dirty || editionForm.get('eventDate').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editionForm.get('eventDate').errors.required"
                           jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div class="form-row">

                <!-- Address -->
                <div class="form-group col-md-6">
                    <label for="addressInput" jhiTranslate="myNewsFacts.address">Address</label>
                    <input type="text" class="form-control" id="addressInput"
                           placeholder="{{'myNewsFacts.form.enterAddress' | translate}}"
                           name="address"
                           formControlName="address">

                    <div *ngIf="editionForm.get('address').invalid && (editionForm.get('address').dirty || editionForm.get('address').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editionForm.get('address').errors.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <!-- City -->
                <div class="form-group col-md-3">
                    <label for="cityInput" jhiTranslate="myNewsFacts.city">City</label>
                    <input type="text" class="form-control" id="cityInput"
                           placeholder="{{'myNewsFacts.form.enterCity' | translate}}"
                           name="city"
                           formControlName="city">

                    <div *ngIf="editionForm.get('city').invalid && (editionForm.get('city').dirty || editionForm.get('city').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editionForm.get('city').errors.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <!-- Country -->
                <div class="form-group col-md-3">
                    <label for="countryInput" jhiTranslate="myNewsFacts.country">City</label>
                    <input type="text" class="form-control" id="countryInput"
                           placeholder="{{'myNewsFacts.form.enterCountry' | translate}}"
                           name="country"
                           formControlName="country">

                    <div *ngIf="editionForm.get('country').invalid && (editionForm.get('country').dirty || editionForm.get('country').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editionForm.get('country').errors.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div class="form-row">

                <!-- Location Coordinate X -->
                <div class="form-group col-md-6">
                    <label for="locationCoordinateXInput" jhiTranslate="myNewsFacts.locationCoordinateX">
                        Location coordinate X
                    </label>
                    <input type="number" class="form-control" id="locationCoordinateXInput"
                           placeholder="{{'myNewsFacts.form.enterLocationCoordinateX' | translate}}"
                           name="locationCoordinateX"
                           formControlName="locationCoordinateX">

                    <div *ngIf="editionForm.get('locationCoordinateX').invalid && (editionForm.get('locationCoordinateX').dirty || editionForm.get('locationCoordinateX').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editionForm.get('locationCoordinateX').errors.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <!-- Location Coordinate Y -->
                <div class="form-group col-md-6">
                    <label for="locationCoordinateYInput" jhiTranslate="myNewsFacts.locationCoordinateY">
                        Location Coordinate Y
                    </label>
                    <input type="number" class="form-control" id="locationCoordinateYInput"
                           placeholder="{{'myNewsFacts.form.enterLocationCoordinateY' | translate}}"
                           name="locationCoordinateY"
                           formControlName="locationCoordinateY">
                    <div *ngIf="editionForm.get('locationCoordinateY').invalid && (editionForm.get('locationCoordinateY').dirty || editionForm.get('locationCoordinateY').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editionForm.get('locationCoordinateY').errors.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <!-- News fact video upload -->
            <div class="form-group">
                <label for="videoFileInput" jhiTranslate="myNewsFacts.newsFactVideo">Video file</label>
                <input type="file" class="form-control-file" id="videoFileInput"
                       name="newsFactVideoPath"
                       formControlName="newsFactVideoPath">
            </div>

            <div>

                <button type="button" class="btn btn-primary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" [disabled]="editionForm.invalid || isPublihing" class="btn btn-primary" jhiTranslate="myNewsFacts.publish">Publish</button>
            </div>
        </form>

    </div>
</div>
