$header-color: #fff;
$header-color-secondary: #bbb;
$header-color-hover: darken($header-color, 20%);

$header-bar-without-toggle-btn-width: 14rem;
$header-toggle-btn-width: 3rem;
$header-toggle-btn-margin: 1rem;
$header-bar-width: $header-bar-without-toggle-btn-width + $header-toggle-btn-margin + $header-toggle-btn-width;

.app-header {
  position: absolute;

  .loading-bar {
    height: 3px;
    background-color: #009cd8;
    position: absolute;
    top: 0px;
    z-index: 1031;
  }

  .header-bar {
    height: 100vh;
    min-width: $header-bar-width;
    width: $header-bar-width;
    background-color: transparent;
    transition: all 0.4s;

    .header-bar-without-toggle-btn {
      min-width: $header-bar-without-toggle-btn-width;
      width: $header-bar-without-toggle-btn-width;
      height: 100vh;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
      background-color: white;

      .brand-title {
        font-size: 24px;
        color: $header-color;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;

        &:hover {
          color: $header-color-hover;
          text-decoration: none;
        }
      }

      .navbar-version {
        font-size: 10px;
        color: $header-color-secondary;
        padding: 0 0 0 10px;
      }

      .header-group-label {
        font-size: 80%;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0;
        padding: 1.5rem 1rem;
      }

      .header-nav-item {
        color: #2c3e50;
        font-style: italic;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
      }

      .header-nav-item:hover,
      .header-nav-item:focus {
        color: #576263;
      }
    }

    .header-collapse-btn {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: $header-toggle-btn-margin;
      margin-left: $header-toggle-btn-margin;
      text: uppercase;
      font-weight: bold;
      width: $header-toggle-btn-width;
      border-radius: 0.5rem;
    }

    .header-collapse-btn:visited,
    .header-collapse-btn:focus {
      box-shadow: none;
    }
  }
}

/* for toggle behavior */

#header-bar.active {
  margin-left: -$header-bar-without-toggle-btn-width;
}

@media (max-width: 768px) {
  #header-bar {
    margin-left: -$header-bar-without-toggle-btn-width;
  }
  #header-bar.active {
    margin-left: 0;
  }
}
