$vertical-collapse-width: 200px;

.vertical-collapse {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: $vertical-collapse-width;
  min-width: $vertical-collapse-width;
  transition: all 0.4s;

  .vertical-collapse-btn {
    width: 30px;
  }

  .vertical-collapse-title {
  }
}

/* for toggle behavior */

.vertical-collapse.collapsed {
  margin-right: -$vertical-collapse-width;
}

@media (max-width: 768px) {
  .vertical-collapse {
    margin-right: -$vertical-collapse-width;
  }
  .vertical-collapse.collapsed {
    margin-right: 0;
  }
}
