.event-creation {
  $horizontal-field-margin: 0.8rem;

  width: 60vw;
  padding: 1.2rem 1.6rem;

  .city-country {
    display: flex;

    .city {
      width: 50%;
      padding-right: $horizontal-field-margin;
    }

    .country {
      width: 50%;
      padding-left: $horizontal-field-margin;
    }
  }

  .category-latitude-longitude {
    display: flex;

    .category {
      width: 50%;
      padding-right: $horizontal-field-margin;
    }

    .latitude {
      width: 25%;
      padding-inline: $horizontal-field-margin;
    }

    .longitude {
      width: 25%;
      padding-left: $horizontal-field-margin;
    }
  }

  .action-bar {
    padding-top: 0.8rem;
  }
}
