<div class="event-creation">
    <form [formGroup]="creationForm" (submit)="onSubmit()">
        <!--title-->
        <div class="field">
            <label [for]="titleInput">Titre</label>
            <input #titleInput type="text" pInputText [formControl]="titleControl"/>
        </div>

        <div class="city-country">
            <!--city-->
            <div class="city field">
                <label [for]="cityInput">Ville</label>
                <input #cityInput type="text" pInputText [formControl]="cityControl"/>
            </div>
            <!--country-->
            <div class="country field">
                <label [for]="countryInput">Pays</label>
                <input #countryInput type="text" pInputText [formControl]="countryControl"/>
            </div>
        </div>


        <!--category-->
        <div class="field">
            <label [for]="categoryInput">Catégorie</label>
            <p-select #categoryInput
                      [formControl]="categoryControl"
                      [options]="categoryValues"
                      optionLabel="label"
                      optionValue="value">
            </p-select>
        </div>

        <!--location-->
        <div class="coordinates">
            <div class="latitude field">
                <label [for]="latitudeInput">Latitude</label>
                <input #latitudeInput type="text" pInputText [formControl]="latitudeControl"/>
            </div>
            <div class="longitude field">
                <label [for]="longitudeInput">Longitude</label>
                <input #longitudeInput type="text" pInputText [formControl]="longitudeControl"/>
            </div>
        </div>

        <div class="toolbar">
            <p-button type="submit" label="Valider"></p-button>
        </div>
    </form>
</div>
