<!--    <LoadingBar className="loading-bar"/>-->

<div class="modal-body">
    <div>
        <!--            <Player playsInline>-->
        <!--              <BigPlayButton position="center"/>-->
        <!--              <source src={newsFactDetail.videoPath}/>-->
        <!--            </Player>-->
        <div class="form" *ngIf="newsFactDetail">
            <div class="form-group">
                <fa-icon [icon]="['fas', 'globe']"></fa-icon>
                <Label>{{this.newsFactDetail.city}}, {{this.newsFactDetail.country}}</Label>
            </div>
            <div class="form-group">
                <fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon>
                <Label>{{this.newsFactDetail.address}}</Label>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary">
        Close
    </button>

</div>
