$newsFactsModalWidth: 650px;

/* ==============================================================
News Fact Detail Modal Style
===============================================================*/
.news-fact-detail-modal {
  .modal-dialog {
    min-width: $newsFactsModalWidth;
    width: $newsFactsModalWidth;
    max-width: $newsFactsModalWidth;

    .modal-body {
      padding: 0;
      margin-bottom: 0;

      .video-player {
        display: inline-block;
        width: 100%;
        height: auto;
        max-width: $newsFactsModalWidth;
        max-height: 400px;
      }

      .form {
        padding: 0.8rem;

        .form-group {
          padding: 0;
          margin-bottom: 0;
        }
      }

      svg {
        margin-right: 0.5rem;
      }
    }

    .modal-footer {
      padding: 0.8rem;
      border: none;
    }
  }
}
