<div class="page-card card">

    <skis-page-header headerLabel="My publications"></skis-page-header>

    <div class="card-body">
        <skis-alert></skis-alert>
        <div class="table">
            <table class="table table-striped">
                <thead>
                <tr skisSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th scope="col" skisSortBy="id"><span>Id</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" skisSortBy="newsCategoryLabel">
                        <span>Category</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" skisSortBy="eventDate"><span>Event Date</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" skisSortBy="country"><span>Country</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" skisSortBy="city"><span>City</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" skisSortBy="address"><span>Address</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col"><span>Location coordinate</span></th>
                    <th scope="col" skisSortBy="createdDate"><span>Creation</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody *ngIf="myNewsFacts">
                <tr *ngFor="let newsFact of myNewsFacts; trackBy: trackIdentity">
                    <td>{{newsFact.id}}</td>
                    <td>
                        <span class="news-category-badge badge-pill badge-info"
                              [ngStyle]="{'background-color': getNewsCategoryColor(this.newsFact.newsCategoryId)}">
                            {{newsFact.newsCategoryLabel}}
                        </span>
                    </td>
                    <td>{{newsFact.eventDate | date:'dd/MM/yyyy HH:mm'}}</td>
                    <td>{{newsFact.country}}</td>
                    <td>{{newsFact.city}}</td>
                    <td>{{newsFact.addressDetail}}</td>
                    <td>{{newsFact.locationCoordinate.x}}; {{newsFact.locationCoordinate.y}}</td>
                    <td>{{newsFact.createdDate | date:'dd/MM/yyyy HH:mm'}}</td>
                    <td>
                        <button
                                class="btn btn-link"
                                type="submit"
                                [routerLink]="['./', newsFact.id, 'edit']"
                                queryParamsHandling="merge">
                            Edit
                        </button>
                    </td>
                    <td>
                        <button
                                class="btn btn-link"
                                type="button"
                                (click)="showDeleteNewsFactDialog(newsFact)">
                            Delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer">
        <div *ngIf="myNewsFacts" class="row justify-content-center">
            <ngb-pagination
                    [collectionSize]="totalItems"
                    [(page)]="page"
                    [pageSize]="itemsPerPage"
                    [maxSize]="3"
                    [rotate]="true"
                    [boundaryLinks]="true"
                    [ellipses]="false"
                    (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>

</div>
