<div class="my-news-facts card">

    <skis-page-header headerLabel="My publications">
        <button class="btn btn-primary" [routerLink]="['./new']">
            <span>New publication</span>
        </button>
    </skis-page-header>

    <div class="card-body">
        <skis-alert></skis-alert>
        <div class="table-responsive">
            <table class="table table-striped" aria-describedby="my-news-facts-page-heading">
                <thead>
                <tr skisSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th scope="col" skisSortBy="id"><span>Id</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" skisSortBy="newsCategoryLabel">
                        <span>Category</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" skisSortBy="eventDate"><span>Event Date</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" skisSortBy="country"><span>Country</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" skisSortBy="city"><span>City</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" skisSortBy="address"><span>Address</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col"><span>Location coordinate</span></th>
                    <th scope="col" skisSortBy="createdDate"><span>Creation</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody *ngIf="myNewsFacts">
                <tr *ngFor="let newsFact of myNewsFacts; trackBy: trackIdentity">
                    <td>{{newsFact.id}}</td>
                    <td>
                        <span class="news-category-badge badge-pill badge-info"
                              [ngStyle]="{'background-color': getNewsCategoryColor(this.newsFact.newsCategoryId)}">
                            {{newsFact.newsCategoryLabel}}
                        </span>
                    </td>
                    <td>{{newsFact.eventDate | date:'dd/MM/yyyy HH:mm'}}</td>
                    <td>{{newsFact.country}}</td>
                    <td>{{newsFact.city}}</td>
                    <td>{{newsFact.address}}</td>
                    <td>{{formatLocationCoordinate(newsFact.locationCoordinate)}}</td>
                    <td>{{newsFact.createdDate | date:'dd/MM/yyyy HH:mm'}}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button
                                    class="btn btn-primary btn-sm"
                                    type="submit"
                                    title="Edit"
                                    [routerLink]="['./', newsFact.id, 'edit']"
                                    queryParamsHandling="merge">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            </button>
                            <button
                                    class="btn btn-danger btn-sm"
                                    type="button"
                                    title="Delete"
                                    (click)="showDeleteNewsFactDialog(newsFact)">
                                <fa-icon [icon]="'trash-alt'"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer">
        <div *ngIf="myNewsFacts">
            <div class="row justify-content-center">
                <skis-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></skis-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                                [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
    </div>

</div>
