<div class="news-category-checkbox form-check">

    <input
            id="category-{{ newsCategorySelection.id }}"
            class="form-check-input"
            type="checkbox"
            [checked]="newsCategorySelection.isSelected"
            value="{{ newsCategorySelection.id }}"
            (change)="emitCategoryChanged($event)"
    />

    <label class="form-check-label" for="category-{{ newsCategorySelection.id }}">
        <img src="{{ getNewsCategoryMarkerIcon(newsCategorySelection.id) }}" style="width:20px;height:20px;">
        {{ newsCategorySelection.label }}
    </label>

</div>
