@import "../../node_modules/primeng/resources/primeng.css";
@import "../../node_modules/primeicons/primeicons.css";
@import "../../node_modules/primeflex/primeflex.scss";
@import "../../node_modules/primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "./skispasse-theme";

//layout styles
html {
    @include font-size-m;
    @include skispasse-font;
    height: 100%;

    body {
        height: 100%;
        margin: 0;

        .sk-menu {
            height: 10%;
            background-color: white;
            display: flex;
            align-items: center;

            .sk-logo {
                height: 50px;
                cursor: pointer;
                margin-left: 1rem;
            }
        }

        .sk-content {
            height: 90%;
            max-height: 90%;
            overflow-y: auto;
        }

        h1 {
            padding: 2rem 1rem;
            margin: 0;
            @include base-font-color;
            @include font-size-xl;
        }

        p {
            line-height: 1.4rem;
            overflow-wrap: anywhere;
        }
    }
}


//page styles
.sk-world-view {
    height: 100%;

    .sk-newsfacts-map {
        height: 100%;

        .ol-control {
            right: 1rem;
            left: auto;
            background-color: transparent;
            border: none;

            button {
                height: 1.6rem;
                width: 1.6rem;
                outline: none;
                //border: $sk-gray-light 2px solid;
                @include font-size-l;

                &:hover {
                    background-color: $sk-gray-super-light;
                }

                &:focus {
                    //outline: none;
                }

                &:active {
                    background-color: $sk-gray-light;
                }

                &.ol-zoom-in {
                    margin-bottom: 0.4rem;
                }
            }
        }
    }
}

