$modalHeight: 30rem;

.map-modal {

  .modal-dialog {


    .modal-content {

      height: $modalHeight;
      max-height: $modalHeight;

      .modal-body {
        padding: 0;
        margin-bottom: 0;
      }
    }
  }
}
