<div class="map-modal modal fade" id="routedModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <router-outlet
                        name="modal"
                        (activate)="onModalOutletOn()"
                        [ngModel]="routerOutlet"
                        (change)="onChange()"
                ></router-outlet>
            </div>
        </div>
    </div>
</div>
