:host {
  height: 100vh;
  display: block;

  $top-actions-height: 4rem;

  .app {
    position: relative;

    actions {
      position: absolute;
      top: 1vh;
      right: 1vw;
      height: $top-actions-height;
    }

    ::ng-deep.p-drawer {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 90vh;
      width: fit-content;
      border-radius: 6px;

      .content-panel {
        height: 100%;

        .close-button {
          $button-padding: 10px;

          position: absolute;
          top: 0;
          right: 0;

          button {
            padding: $button-padding;
            background-color: transparent;
            width: unset;
            color: #777;
            border: none;

            .p-button-icon {
              font-size: 18px;
            }

            &:hover {
              color: #111;
            }
          }
        }
      }
    }
  }
}
