<div class="app" #appElement>
    <sk-events-map></sk-events-map>
    <p-toast class="message-toast" position="top-center"></p-toast>
    <actions [isDisableEventCreation]="isActiveContentModal"></actions>
    <p-drawer #contentDrawerRef
              [appendTo]="appElement"
              [(visible)]="isActiveContentModal"
              position="right"
              [closable]="true"
              [closeOnEscape]="false"
              (onHide)="onCloseContentPanel()"
              [modal]="false">
        <ng-template #headless>
            <div class="content-panel">
                <p-button (click)="closeCallback($event)"
                          class="close-button" type="button" icon="pi pi-times"></p-button>
                <router-outlet></router-outlet>
            </div>
        </ng-template>
    </p-drawer>
</div>
