$default-background-color: #efefef;

:host {
  height: 100vh;
  display: block;

  $top-actions-height: 4rem;

  .app {
    position: relative;

    actions {
      position: absolute;
      top: 1vh;
      right: 1vw;
      height: $top-actions-height;
    }

    ::ng-deep.p-drawer {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: fit-content;
      width: fit-content;
      border-radius: 6px;

      .content-panel {
        max-height: 90vh;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: end;
        background-color: $default-background-color;

        .close-button {
          $button-padding: 10px;

          button {
            padding: $button-padding;
            background-color: transparent;
            width: unset;
            color: #777;
            border: none;

            .p-button-icon {
              font-size: 18px;
            }

            &:hover {
              color: #111;
            }
          }
        }
      }
    }
  }
}
