:host {
  height: 100vh;
  display: block;

  $top-actions-height: 4rem;

  .app {
    position: relative;

    actions {
      position: absolute;
      top: 1vh;
      right: 1vw;
      height: $top-actions-height;
    }

    ::ng-deep.p-drawer {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 90vh;
      width: unset;
      border-radius: 6px;

      .content-panel {
        height: 100%;

        .close-button {
          position: absolute;
          top: 8px;
          right: 8px;

          .p-button {
            padding: 0;
            background-color: transparent;
            width: unset;
            color: #777;
            border: none;

            &:hover {
              color: #111;
            }
          }
        }
      }
    }
  }
}
