$newsFactsModalWidth: 40%;

@import '~video-react/styles/scss/video-react'; // Import video-react styles

/* ==========================================================================
News fact detail modal page styles
========================================================================== */

.news-facts-modal.modal-dialog {
  min-width: $newsFactsModalWidth;
  width: $newsFactsModalWidth;
  max-width: $newsFactsModalWidth;

  .modal-body {
    padding: 0;
    margin-bottom: 0;

    form {
      padding: 0.5rem;

      .form-group {
        padding: 0;
        margin-bottom: 0;
      }
    }

    svg {
      margin-right: 0.5rem;
    }
  }
}
