@import "../../node_modules/primeicons/primeicons.css";
@import "../../node_modules/primeflex/primeflex.scss";
@import "../../node_modules/@videogular/ngx-videogular/fonts/videogular.css";

//layout styles
html {
  $default-font-size: 14px;
  font-family: "Work Sans", "Liberation Sans", sans-serif;
  height: 100vh;

  body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-size: $default-font-size;
    color: black;

    p {
      margin: 0;
      padding: 0.1rem 0;
    }

    form {
      .field {
        label {
          font-weight: 500;
          color: #555;
        }

        input[type=text] {
          width: 100%;
        }
      }

      .action-bar {
        display: flex;
        justify-content: end;
        align-items: center;
      }
    }
  }

  //prime ng style customization
  $input-border-radius: 3px;
  $input-padding-block: 8px;
  $input-border-color-strong: #999;

  .p-button {
    font-size: $default-font-size;
    padding-block: 0.4rem;
    border-radius: 4px;
  }

  .p-inputtext {
    font-size: 15px;
    padding-block: $input-padding-block;
    border-radius: $input-border-radius;

    &:enabled:active, &:enabled:hover, &:enabled:focus {
      transition: none;
      border: 1px solid $input-border-color-strong;
      box-shadow: none;
    }
  }

  .p-select {
    border-radius: $input-border-radius;

    .p-select-label {
      padding-block: $input-padding-block;
    }

    &:not(.p-disabled):hover, &:not(.p-disabled).p-focus {
      transition: none;
      border: 1px solid $input-border-color-strong;
      box-shadow: none;
    }
  }

  .p-inputwrapper {
    width: 100%;
  }

  .p-fileupload {
    .p-fileupload-header {
      padding: 0.8rem;
    }

    .p-fileupload-content {
      padding: 0;
      border: none;
    }
  }
}
