@import "../../node_modules/primeicons/primeicons.css";
@import "../../node_modules/primeflex/primeflex.scss";
@import "../../node_modules/@videogular/ngx-videogular/fonts/videogular.css";

//layout styles
html {
    font-family: "Work Sans", "Liberation Sans", sans-serif;
    height: 100vh;

    body {
        height: 100vh;
        margin: 0;
        overflow: hidden;
        font-size: 15px;
        color: black;
    }

    p {
        margin: 0;
        padding: 0.1rem 0;
    }

    form {
        .field {
            label {
                font-weight: 500;
                color: #555;
            }

            input[type=text], .p-inputwrapper {
                width: 100%;
            }
        }

        .toolbar {
            display: flex;
            justify-content: end;
            align-items: center;
        }
    }
}
