<div class="app" #appElement>
    <sk-events-map></sk-events-map>

    <div class="top-actions">
        <p-button (onClick)="toggleSelectingLocation()" [disabled]="showContent" label="Évènement" icon="pi pi-plus">
        </p-button>
    </div>

    <p-drawer #contentDrawerRef [appendTo]="appElement"
              [(visible)]="showContent" position="right"
              [closable]="true" [closeOnEscape]="false" (onHide)="onCloseContentPanel()"
              [modal]="false">
        <ng-template #headless>
            <div class="content-panel">
                <p-button (click)="closeCallback($event)"
                          class="close-button" type="button" icon="pi pi-times"></p-button>
                <router-outlet></router-outlet>
            </div>
        </ng-template>
    </p-drawer>
</div>
