<div *ngIf="eventDetail" class="event-detail">
    <div class="media-view">
        <sk-video-player *ngIf="eventDetail.media.type === 'VIDEO'" videoUrl="{{eventDetail.media.url}}"
        contentType="{{eventDetail.media.contentType}}"></sk-video-player>
        <img *ngIf="eventDetail.media.type === 'IMAGE'"
             class="event-image"
             src="{{eventDetail.media.url}}"
             alt="Image of event"/>
    </div>
    <div class="info">
        <p class="info-group">
            <span class="title">{{eventDetail.title}}, </span>
        </p>
        <p class="info-group">
            <span class="city">{{eventDetail.city}}, </span>
            <span class="country">{{eventDetail.country}}</span>
        </p>
    </div>
</div>
