.event-detail {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;

  .media-view {
    flex: 1;
    overflow: auto;

    img.event-image {
      display: block;
      max-width: 80vw;
      max-height: 80vh;
      width: auto;
      height: auto;
      border-radius: 4px;
    }
  }

  .info {
    min-height: 0;
    padding-block: 0.4rem;

    .info-group {
      .title {
      }

      .city {
        color: var(--p-gray-700);
      }

      .country {
        color: var(--p-gray-700);
      }
    }
  }
}
