<div *ngIf="newsFactNoDetails && allNewsCategories" class="news-fact-group card">

    <div class="card-header">
        <h5>{{newsFactNoDetails.length}} news facts here, access detail to see more.</h5>
    </div>

    <div class="card-body">

        <div class="table">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">
                        <span>Category</span>
                    </th>
                    <th scope="col">
                        <span>Location coordinate</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let newsFactNoDetail of newsFactPageItems; trackBy: trackIdentity">

                    <!--News category label-->
                    <td>
                                <span class="news-category-badge badge-pill badge-info"
                                      [ngStyle]="{'background-color': getNewsCategoryColor(newsFactNoDetail)}">
                                    {{getNewsCategoryLabel(newsFactNoDetail.newsCategoryId)}}
                                </span>
                    </td>

                    <!--Location coordinates-->
                    <td>{{formatLocationCoordinate(newsFactNoDetail.locationCoordinate)}}</td>

                    <!--News fact detail button-->
                    <td>
                        <button
                                class="btn btn-link"
                                type="submit"
                                title="Show video and full news fact information"
                                [routerLink]="['',{outlets: {modal: ['newsFact',newsFactNoDetail.id]}}]">
                            Show detail
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer">
        <div *ngIf="newsFactNoDetails" class="row justify-content-center">
            <ngb-pagination
                    [(page)]="newsFactPageIndex"
                    [pageSize]="NEWS_FACT_PAGE_SIZE"
                    [collectionSize]="newsFactNoDetails.length"
                    [maxSize]="3"
                    [rotate]="true"
                    [ellipses]="false"
                    [boundaryLinks]="true"
            (pageChange)="loadNewsFactPage($event)"
            ></ngb-pagination>
        </div>
    </div>
</div>
