<!--Contributor panel-->
<div class="contributor-panel card">
    <div class="card-body">
        <h5 class="card-title" jhiTranslate="worldmap.controlPanel.publication.title">Publication</h5>
        <button class="btn btn-link" routerLink="/publication/my-publications">
            <fa-icon [icon]="'newspaper'"></fa-icon>
            &nbsp;
            <span jhiTranslate="worldmap.controlPanel.publication.publishedNewsFacts">
                My publications
            </span>
        </button>
    </div>
</div>
