/* ==========================================================================
Worldmap styles
========================================================================== */
.worldmap {
  .map {
    display: inline-block;
    height: 100vh;
    padding-left: 0;
    padding-right: 0;

    .ol-zoom {
      top: 0.5em;
      left: unset;
      right: 0.5em;
    }
  }

  .control-panel {
    padding: 0;

    .account-panel {
      text-align: center;

      .account-user-name {
        padding-right: 1.5rem;
        padding-left: 0.5rem;
      }

      .btn-logout {
        width: 3rem;
      }
    }

    .card {
      margin: 0.3rem;
    }

    .card-body {
      padding: 1rem;
    }

    .form-check {
      padding-left: 0;
    }
  }
}
